* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 2px solid red ; */
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0px auto;
    padding: 0 30px;
}

.navbar{
    background-color: #1f2937;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLogo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 16px
}

.hero {
    background-color: #1f2937;
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.hero-left {
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
}

.hero-button {
    background-color: #3B82F6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    width: 100px;
}

.information {
    background-color: #F9FAF8;
    padding: 50px 0px;
}

.information-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.information-header > h2{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.box-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.box-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.box-card img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
}

.quotes {
    background-color: #E5E7EB;
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 20px;
}

.author {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.call-to-action {
    margin: 80px;
    border-radius: 10px;
    background-color: #3B82F6;
    color: white;
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* max-width: 500px; */
}

.call-label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.call-text, .call-header {
    text-align: left;
}

.call-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.call-button {
    background-color: #3B82F6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100px;
    font-weight: bold;
    outline: solid white 2px;
}

.footer {
    background-color: #1f2937;
    color: white;
    padding: 20px 0px;
    text-align: center;
    margin-top: auto;
}