* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar{
    background-color: #1f2937;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLogo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 16px
}

.hero {
    background-color: #1f2937;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.hero-left {
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
}

.hero-button {
    background-color: #3B82F6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    width: 100px;
}

.information {

}